


  


    <section class="demanding_app">
        <div class="container">
            <div class="on_demand">
                <h5>On-demand Handyforall <span>Application for all Businesses</span></h5>
                <p>Handyforall is a multi-service On-demand application comes on both native Android and iOS platform.
                    It is a turnkey solution to launch your On-demand handy services application instantly. We can
                    deploy all apps in the cloud. The transaction is entirely encrypted, and they are safe and secure.
                    In the new version of the Handyforall application, we have loaded more than 120+ features into the
                    app.</p>
            </div>
        </div>
    </section>

    <section class="multi_app" id="handy">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 bhoechie-tab-menu">
                    <div class="single_apps">
                        <h4>Multi-use in a <span>single app </span></h4>
                        <p>By installing the Handyforall application, users will gain instant access to multiple
                            services. Use this single app for numerous services to enhance your business.</p>

                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti">
                                        <img 
                                            src="/app/site/public/images/sliders/icon1-hover.png"
                                            class="img-responsive lazy five_hover">

                                    </div>
                                    <p>Plumber</p>
                                </div>


                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new">
                                        <img 
                                            src="/app/site/public/images/sliders/icon2-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Cleaning</p>
                                </div>


                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new1">
                                        <img 
                                            src="/app/site/public/images/sliders/icon3-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Mechanics</p>
                                </div>


                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new2">
                                        <img
                                            src="/app/site/public/images/sliders/icon4-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Doctor</p>
                                </div>


                            </div>
                        </a>

                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new3">
                                        <img 
                                            src="/app/site/public/images/sliders/icon5-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Massage</p>
                                </div>


                            </div>
                        </a>


                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new4">
                                        <img 
                                            src="/app/site/public/images/sliders/icon6-hover.png"
                                            class="img-responsive five_hover lazy">


                                    </div>
                                    <p>Tutor</p>
                                </div>


                            </div>
                        </a>


                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new5">
                                        <img 
                                            src="/app/site/public/images/sliders/icon7-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Baby Sitter</p>
                                </div>


                            </div>
                        </a>


                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new6">
                                        <img 
                                            src="/app/site/public/images/sliders/icon8-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Tow Truck</p>
                                </div>


                            </div>
                        </a>

                        <a href="#" class="list-group-item text-center">
                            <div class="uber_x_one">

                                <div class="x_one">
                                    <div class="image_esti new7">
                                        <img 
                                            src="/app/site/public/images/sliders/icon9-hover.png"
                                            class="img-responsive five_hover lazy">

                                    </div>
                                    <p>Dry Cleaning</p>
                                </div>


                            </div>
                        </a>




                    </div>



                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 bhoechie-tab mobile-box">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/scrol.png" class="img-responsive lazy">
                        </center>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <section class="multi_app second_one" id="handyforall_first">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">



                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bhoechie-tab shape">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/otp-registration.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/wallet.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/instant.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/emoji.png" class="img-responsive lazy">
                        </center>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 bhoechie-tab-menu">
                    <div class="single_apps">
                        <h4>Handyforall <span>User App Features</span></h4>
                        <p>Let's explore the new features added to our Handyforall User Application</p>

                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti otp">
                                    </div>
                                    <h6>OTP Registration</h6>
                                </div>
                                <p>Users can use the OTP verification to register their mobile numbers. The taskers can
                                    also sign in to the app using OTP.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti wallet">
                                    </div>
                                    <h6>User Wallet</h6>
                                </div>
                                <p>Customers and taskers can do cashless transactions with the help of the wallet
                                    module. Customers have to load the wallet & the money gets automatically deducted
                                    after the task.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti alert">
                                    </div>
                                    <h6>Instant Task alerts</h6>
                                </div>
                                <p>Both the users and taskers will Get instant task alerts from the application. It
                                    helps to know the real-time status of the task.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti emoji">
                                    </div>
                                    <h6>Emoji Rating</h6>
                                </div>
                                <p>The users can rate the tasker after work. Users can rate using emojis to get
                                    feedback.</p>

                            </div>
                        </a>

                        <div class="uber-x-link">
                            <a href="#message_sect_taxi">Talk to Expert</a>
                            <a href="#message_sect_taxi" class="active">Buy Now</a>

                        </div>

                    </div>



                </div>




            </div>

        </div>
    </section>




    <section class="multi_app second_one" id="handyforall_second">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 bhoechie-tab-menu">


                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti guest">
                                    </div>
                                    <h6>Schedule Job</h6>
                                </div>
                                <p>Allowing you to request a job ahead of time through the Handyforall app. The Customer
                                    app comes with the option to schedule a job on future dates.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti track">
                                    </div>
                                    <h6>Job Flow Status Tracking</h6>
                                </div>
                                <p>Users can see the task and locate the working flow. They can monitor the job in
                                    real-time to know the status of the task.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti promo">
                                    </div>
                                    <h6>Promo Code</h6>
                                </div>
                                <p>Admin can send Promo Codes to customers through push notifications. Using this in-app
                                    feature, admin can stay in touch with users.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti payment">
                                    </div>
                                    <h6>Multiple Payment options</h6>
                                </div>
                                <p> Both Customers and taskers can go cashless with Handyforall. They can choose to pay
                                    using wallet money, credit card, debit card, or PayPal of their choice. </p>

                            </div>
                        </a>

                        <div class="uber-x-link">
                            <a href="#message_sect_taxi">Talk to Expert</a>
                            <a href="#message_sect_taxi" class="active">App Visual Flow</a>

                        </div>

                    </div>



                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bhoechie-tab second_shape">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/guest-login.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/job-flow.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/promo-code.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/multiple-payment.png" class="img-responsive lazy">
                        </center>
                    </div>

                </div>



            </div>

        </div>
    </section>





    <section class="multi_app second_one" id="handyforall_third">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">



                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bhoechie-tab shape">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-otp.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-availability.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-category-add.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-bank-account.png" class="img-responsive lazy">
                        </center>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 bhoechie-tab-menu">
                    <div class="single_apps">
                        <h4>Handyforall <span>Tasker App Features</span></h4>
                        <p>Explore our Handyforall tasker app and try the new features</p>

                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti otp_login">
                                    </div>
                                    <h6>Weekly Earnings Detail</h6>
                                </div>
                                <p>Taskers can quickly check their weekly earnings within the app. They can customize
                                    the date and see their profits in graphical format.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti available">
                                    </div>
                                    <h6>Availability Day-wise selection</h6>
                                </div>
                                <p>The users can select the taskers based on the date and time. They can shortlist the
                                    date and choose a slot to book a tasker.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti category">
                                    </div>
                                    <h6>Category Add / Edit</h6>
                                </div>
                                <p>Users can add or edit the categories effectively within the app. Admin can categorize
                                    the task and group it for effective usage.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti bank_account">
                                    </div>
                                    <h6>Bank Account Information</h6>
                                </div>
                                <p>The application has an in-built module to store complete bank details. Admin can use
                                    it for depositing the tasker payments.</p>

                            </div>
                        </a>

                        <div class="uber-x-link">
                            <a href="#message_sect_taxi">Talk to Expert</a>
                            <a href="#message_sect_taxi" class="active">Buy Now</a>

                        </div>

                    </div>



                </div>




            </div>

        </div>
    </section>




    <section class="multi_app second_one" id="handyforall_fourth">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 bhoechie-tab-menu">


                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti last">
                                    </div>
                                    <h6>Recent Task Details</span></h6>
                                </div>
                                <p>Tasker can see the detailed task description in his app before accepting the job.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti ratings">
                                    </div>
                                    <h6>My Jobs</span></h6>
                                </div>
                                <p>Check all your Open, Completed, Pending Task in Single screen</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti instant">
                                    </div>
                                    <h6>Add Material</span></h6>
                                </div>
                                <p>The taskers can also add miscellaneous charges to the task within the app.</p>

                            </div>
                        </a>
                        <a href="#" class="list-group-item text-center">
                            <div class="ride_estimate_one">

                                <div class="esti_one">
                                    <div class="image_esti chat">
                                    </div>
                                    <h6>Chat,Call,SMS,Mail</span></h6>
                                </div>
                                <p> Owners can always stay in touch with the users and taskers using chat, call, or
                                    email. The users can also use the in-app chat feature to chat with taskers.</p>

                            </div>
                        </a>

                        <div class="uber-x-link">
                            <a href="#message_sect_taxi">Talk to Expert</a>
                            <a href="#message_sect_taxi" class="active">App Visual Flow</a>

                        </div>

                    </div>



                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bhoechie-tab second_shape">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-last-task.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-emoji-ratings.png" class="img-responsive lazy">
                        </center>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-instant-task.png" class="img-responsive lazy">
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <img 
                                src="/app/site/public/images/sliders/tasker-chat-call.png" class="img-responsive lazy">
                        </center>
                    </div>
                </div>




            </div>

        </div>
    </section>


    <section class="admin_panel_cabily app_screens_cabily uberx_slides" id="our_apps_screenshot_wrap">
        <div class="container">
            <div class="admin_panel_wrap">
                <div class="top_app_feat_title">
                    <h1>User App <span> Screenshot </span></h1>
                    <p>Working user web screenshots</p>

                </div>

                <div class="overall_app_screen_slider">

                    <div class="tab-content">
                        <div id="userapp" class="tab-pane fade in active">

                            <div class="owl-carousel appslide owl-theme">
                                <div class="item"><img
                                       
                                        src="/app/site/public/images/sliders/user1.png" class="lazy"></div>
                                <div class="item"><img
                                        
                                        src="/app/site/public/images/sliders/user2.png" class="lazy"></div>
                                <div class="item"><img
                                     
                                        src="/app/site/public/images/sliders/user3.png" class="lazy"></div>
                                <div class="item"><img
                                                                            src="/app/site/public/images/sliders/user4.png" class="lazy"></div>
                                <div class="item"><img
                                                                            src="/app/site/public/images/sliders/user5.png" class="lazy"></div>
                                <div class="item"><img
                                                                            src="/app/site/public/images/sliders/user6.png" class="lazy"></div>
                                <div class="item"><img
                                                                            src="/app/site/public/images/sliders/user7.png" class="lazy"></div>
                                <div class="item"><img
                                                                            src="/app/site/public/images/sliders/user8.png" class="lazy"></div>
                                <div class="item"><img
                                                                            src="/app/site/public/images/sliders/user9.png" class="lazy"></div>
                               


                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user11.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user12.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user13.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user14.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user15.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user16.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user17.png" class="lazy"></div>
                                <div class="item"><img
                                    
                                        src="/app/site/public/images/sliders/user18.png" class="lazy"></div>
                                        <div class="item"><img
                                    
                                            src="/app/site/public/images/sliders/user19.png" class="lazy"></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>



    <section class="admin_panel_cabily app_screens_cabily uberx_slides" id="our_apps_screenshot_wrap">
        <div class="container">
            <div class="admin_panel_wrap">
            <div class="top_app_feat_title">
                <h1>Tasker App <span> Screenshot </span></h1>
                <p>Working Tasker web screenshots</p>
                
                </div>
                
                <div class="overall_app_screen_slider"> 
                <div class="tab-content">
                    <div id="userapp" class="tab-pane fade in active">
                     
                      <div class="owl-carousel tasker owl-theme">
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker1.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker2.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker3.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker4.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker5.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker6.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker7.png" class="lazy"></div>
                        <div class="item"><img src="/app/site/public/images/sliders/tasker8.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker9.png" class="lazy"></div>
                        <div class="item"><img src="/app/site/public/images/sliders/tasker10.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker11.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker12.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker13.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker14.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker15.png" class="lazy"></div>
                        <div class="item"><img src="/app/site/public/images/sliders/tasker16.png" class="lazy"></div>
                        <div class="item"><img  src="/app/site/public/images/sliders/tasker17.png" class="lazy"></div>
                     </div>
                
                    </div>
                    
                </div>
                
                </div>
                
                    </div>
                </div>
      </section>

   

    <!-- <script type="text/javascript" src="../../products/js/bootstrap.js"></script> -->
    <!-- <script type="text/javascript" src="../../products/js/jquery.flexslider.js"></script> -->


    <script type="text/javascript" src="/app/site/public/scripts/owl.carousel.js"></script>
    <!-- <script type="text/javascript" src="../../products/js/wow.min.js"></script> -->
    <!-- <script src="../../products/js/swiper.min.js"></script> -->



    
    <!-- <script type="text/javascript" src="../../products/js/jquery.accordion.js"></script> -->
    <!-- <script type="text/javascript" src="../../products/js/jquery.wookmark.js"></script> -->
    <!-- <script>
        new WOW().init();
    </script> -->



    <script>
        $('.owl-carousel.appslide').owlCarousel({
            autoplay: true,
            loop: true,
            margin: 5,
            nav: true,
            dots: false,
            navText: ['<img src="/app/site/public/images/sliders/app_arrow_left.png">', '<img src="/app/site/public/images/sliders/app_arrow_right.png">'],

            responsive: {
                0: {
                    items: 1
                },
                568: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });


        $('.owl-carousel.tasker').owlCarousel({
            autoplay: true,
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: ['<img src="/app/site/public/images/sliders/app_arrow_left.png">', '<img src="/app/site/public/images/sliders/app_arrow_right.png">'],

            responsive: {
                0: {
                    items: 1
                },
                568: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });



        $('#London .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })


        $('#Paris .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })


        $('#Tokyo .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })


        $('#new .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })


        $('#new1 .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })


        $('#new2 .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })



        $('section.video_testimonial .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 1
                }
            }
        })





        $('section.premium_features .owl-carousel').owlCarousel({
            autoplay: true,
            loop: true,
            nav: true,
            items: 2,
            center: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 2
                }
            }

        });


        $('.our_clients1.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            mouseDrag: false,
            autoplayTimeout: 2500,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 5
                }
            }
        });

        $('.our_clients2.owl-carousel').owlCarousel({
            loop: true,
            rtl: true,
            margin: 10,
            mouseDrag: false,
            autoplay: true,
            autoplayTimeout: 2500,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 5
                }
            }
        });

        $('.owl-carousel.payment').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            dots: true,
            navText: ['<img src="/app/site/public/images/sliders/left_pay_arrow.png">', '<img src="/app/site/public/images/sliders//right_pay_arrow.png">'],

            responsive: {
                0: {
                    items: 1
                },
                400: {
                    items: 2
                },
                600: {
                    items: 5
                },
                1000: {
                    items: 6
                }
            }
        });

        $('.owl-carousel.ourclients').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 2000,


            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 5
                },
                1000: {
                    items: 5
                }
            }
        });


        $(document).ready(function () {
            $(".frequently-title").click(function () {
                //var ul_finder = $(this).parent();
                if ($(this).hasClass("tabsselected")) {
                    $('.frequently-title').removeClass("tabsselected");
                } else {
                    $('.frequently-title').removeClass('tabsselected');
                    $(this).addClass("tabsselected");
                }
            });

            $('.nav-tabs a').click(function () {
                $("html, body").animate({ scrollTop: 600 }, 600);
            });


            $('.nav-tabs a#new_overview').click(function () {
                location.reload();
            });

            $('.about-product-btn').click(function () {
                $('.about-product-content').slideToggle("slow");
            });

            $('#tog').click(function () {
                $('#slideout').toggleClass('on');
                $('#tog').toggleClass('on');
            });

            $('.click_close').click(function () {
                $('.disclaimer_text_below').addClass('close_disclaimer');
            });

        });




    </script>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }


        $(document).ready(function () {
            $("#handy div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("#handy div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("#handy div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });


        $(document).ready(function () {
            $("#handyforall_first div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("#handyforall_first div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("#handyforall_first div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });


        $(document).ready(function () {
            $("#handyforall_second div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("#handyforall_second div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("#handyforall_second div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });



        $(document).ready(function () {
            $("#handyforall_third div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("#handyforall_third div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("#handyforall_third div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });




        $(document).ready(function () {
            $("#handyforall_fourth div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("#handyforall_fourth div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("#handyforall_fourth div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });


    </script>


    <script>
        var swiper = new Swiper('.swiper-container', {
            autoHeight: true, //enable auto height
            calculateHeight: true,
            direction: 'vertical',
            slidesPerView: 1,
            spaceBetween: 20,
            mousewheel: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>


    <!-- <script type="text/javascript" src="../../js/intlTelInput.js"></script> -->
    <!-- <script type="text/javascript" src="../../js/utils.js"></script> -->
    <!-- <script type="text/javascript" src="../../js/validation.js"></script> -->
    <script type="text/javascript" src="/app/site/public/scripts/lazyload.js"></script>

   <script>
        (function () {
            function logElementEvent(eventName, element) {
                console.log(
                    Date.now(),
                    eventName,
                    element.getAttribute("data-src")
                );
            }

            var callback_enter = function (element) {
                logElementEvent("ðŸ”‘ ENTERED", element);
            };
            var callback_exit = function (element) {
                logElementEvent("ðŸšª EXITED", element);
            };
            var callback_reveal = function (element) {
                logElementEvent("ðŸ‘ï¸ REVEALED", element);
            };
            var callback_loaded = function (element) {
                logElementEvent("ðŸ‘ LOADED", element);
            };
            var callback_error = function (element) {
                logElementEvent("ðŸ’€ ERROR", element);
                element.src =
                    "https://via.placeholder.com/440x560/?text=Error+Placeholder";
            };
            var callback_finish = function () {
                logElementEvent("âœ”ï¸ FINISHED", document.documentElement);
            };

            ll = new LazyLoad({
                elements_selector: ".lazy",
                // Assign the callbacks defined above
                callback_enter: callback_enter,
                callback_exit: callback_exit,
                callback_reveal: callback_reveal,
                callback_loaded: callback_loaded,
                callback_error: callback_error,
                callback_finish: callback_finish
            });
        })();
    </script>
     
   


    <style>
        #christmas-modal .modal-header .close {
            margin-top: -25px;
            position: absolute;
            top: 40px;
            right: 17px;
            background: #ad010f;
            z-index: 1;
            border-radius: 13px;
            width: 22px;
            height: 22px;
            font-size: 17px;
            opacity: 1;
            color: white;
        }

        #christmas-modal .modal-header {
            padding: 0 !important;
            border: none;
        }

        #christmas-modal .modal-dialog {
            width: 703px;
        }

        #christmas-modal .modal-body {
            padding: 0;
        }

        @media only screen and (max-width:991px) {
            #christmas-modal .modal-dialog {
                width: 90%;
                margin: 0;
                top: 18px;
                text-align: center;
                margin: 0 auto;
            }
        }

        @media only screen and (max-width:991px) and (orientation: landscape) {
            #christmas-modal .modal-dialog {
                width: 60%;
            }
        }
    </style>


